.navbar-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to top, #628280 , #4b9faa);
  padding: 20px 100px 8px 100px;
  color: white;
}



.nav-btn-all {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-btn-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #4d596b;
  padding: 9px;
  border-radius: 4px;
}
.nav-btn-link:hover {
  color: black;
  background-color: white;
 
}
